// Font Family
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

// Colors

// Menu Color
$color_darken_blue: #05386b;
$color_darken_green: #379683;
$color_lighten_green: #5cdb95;
$color_verylight_green: #8ee4af;
$color_lighten: #edf5e1;

// Colors Icons
$color_google: #db3236;
$color_facebook: #4267b2;

// Diractions Colors
$color_danger: #dc3545;
$color_success: #28a745;

//Basics Colors
$color-white: #ffffff;
$color-dark: #000000;
$color-grey-light: rgb(172, 170, 170);
